.navbar {
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}
.active{
    color: red;
  }